<html>
    <head>
        <link href="{{url_for('recursos', path='estilos.css') }}" rel="stylesheet">
        <title>Miguel</title>
    </head>
    <body>
        <div id="titulos">Bienvenicos</div>
        <di id="parrafos"><p>Este sitio pertenece al Equipo6 y mostrara los datos de los integrantes</p></di>
        <a href="miguel,html">Miguel</a>
        <ul>
            <li><strong>
                Matricula : {{matri}}
            </strong></li>
            <li><strong>
                Nombre : {{nom}}
            </strong></li>
            <li><strong>
                Edad : {{edad}}
            </strong></li>
        </ul>
    </body>
</html>